#body {
    height: 100vh;
}

h1 {
    color: rgb(191, 47, 97);
    text-shadow: 0.5px 1px 2px rgb(255, 255, 255);
}

#login-form {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1.5rem;
    color: white;
    font-weight: bold;
}

#registro-form {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1.5rem;
    color: white;
    font-weight: bold;
}

li {
    color: white;
}